@namespace SmartProctor.Client.Pages.Exam
@page "/Exam/Take/{ExamId}"
@layout EmptyLayout

@if (_examDetails != null)
{
<BasicLayout
    Logo="@_logo"
    Title="SmartProctor"
    MenuRender="false">
    <RightContentRender>
        <RightContentExam ExamId="@ExamId" Deadline="@_examDetails.StartTime.AddSeconds(_examDetails.Duration)"/>
    </RightContentRender>
    <ChildContent>
        <PageContainer Title="@_examDetails.Name">
            <Content>
                <Descriptions Class="headerList" Size="small" Column="2">
                    <DescriptionsItem Title="Desciption">@_examDetails.Description</DescriptionsItem>
                    <DescriptionsItem Title="Duration">@_examDetails.Duration</DescriptionsItem>
                    <DescriptionsItem Title="Open book">@(_examDetails.OpenBook ? "Yes" : "No")</DescriptionsItem>
                </Descriptions>
            </Content>
            <ChildContent>
                <div class="standardList">
                    <Alert Type="@AlertType.Warning">Answers of questions with "Save" button cannot be automacially saved.</Alert>
                    @for (var i = 0; i < _examDetails.QuestionCount; i++)
                    {
                        <QuestionCard ExamId="_examId" QuestionNum="@(i + 1)"/>
                    }
                </div>
            </ChildContent>
        </PageContainer>
    </ChildContent>
    <FooterRender>
    </FooterRender>
</BasicLayout>
}