@namespace SmartProctor.Client.Pages.Exam
@page "/Exam/Take/{ExamId}"
@layout EmptyLayout

@if (_examDetails != null)
{
    <BasicLayout
        Logo="@_logo"
        Title="SmartProctor"
        MenuRender="false">
        <RightContentRender>
            <RightContentExam Deadline="@_examDetails.StartTime.AddSeconds(_examDetails.Duration)" 
                              OnEnded="() => ExitExam(true)"
                              OnCameraVideoVisibleChange="OnCameraVideoVisibleChange" 
                              OnDesktopVideoVisibleChange="OnDesktopVideoVisibleChange"/>
        </RightContentRender>
        <ChildContent>
            <PageContainer Title="@_examDetails.Name">
                <Content>
                    <Descriptions Class="headerList" Size="small" Column="2">
                        <DescriptionsItem Title="Desciption">@_examDetails.Description</DescriptionsItem>
                        <DescriptionsItem Title="Duration">@ConvertExamDuration(_examDetails.Duration)</DescriptionsItem>
                        <DescriptionsItem Title="Open book">@(_examDetails.OpenBook ? "Yes" : "No")</DescriptionsItem>
                    </Descriptions>
                </Content>
                <ChildContent>
                    <div class="standardList">
                        @if (!_examNotBegin)
                        {
                            <Alert Type="@AlertType.Warning">Answers of questions with "Save" button cannot be automacially saved.</Alert>
                            if (_questions != null)
                            {
                                for (var i = 0; i < _questions.Count; i++)
                                {
                                    var index = i;
                                    <QuestionCard ExamId="_examId" QuestionNum="@(index + 1)" Question="@_questions[index]"/>
                                }
                            }
                        }
                        else
                        {
                            <Card>
                                <Empty Description="@("The exam is not started yet, please wait...")">
                                    <ChildContent>
                                        <NewCountDown Deadline="_examDetails.StartTime" Style="font-size: 40px;" OnEnded="GetQuestions"/>
                                    </ChildContent>
                                </Empty>
                            </Card>
                        }
                    </div>
                </ChildContent>
            </PageContainer>
        </ChildContent>
        <FooterRender>
        </FooterRender>
    </BasicLayout>
}
<TestPrepareModal @ref="@_testPrepareModal" ExamId="@ExamId"
                   OnShareScreen="OnShareScreen" OnFinish="OnPrepareFinish"
                   Visible="@_inPrepare" OnGetCameraStream="OnGetCameraStream"/>
<ChatDrawer @ref="_chatDrawer" ForProctoring="false" ChatWith="@null" Messages="@_messages" OnSendMessage="SendMessage"/> 