@namespace SmartProctor.Client.Pages.Exam

@** This component should be placed in one Row **@
<Col Span="@(24 / CardsEachRow)" Class="@(_haveNewWarning ? "proctor-video-card-with-notification" : "proctor-video-card")">
    <div @onmouseover="OnMouseOver" @onmouseout="OnMouseOut"
         class="@(_fullscreen ? "proctor-video-container-fullscreen" : "proctor-video-container")">
        <div class="proctor-video-bar proctor-video-bar-top" style="@("display:" + (_showToolBar ? "flex" : "none"))">
            @ExamTakerName
        </div>

        @if (Banned)
        {
            <div class="proctor-video-overlay">
                <Icon Type="stop" Theme="outline" Class="proctor-video-icon"/>
            </div>
        }
        else if ((_showingDesktop && _desktopLoading) || (!_showingDesktop && _cameraLoading))
        {
            <div class="proctor-video-overlay">
                <Icon Type="loading" Theme="outline" Class="proctor-video-icon"/>
            </div>
        }
        <video id="@(ExamTakerName + "-video")" class="proctor-video" autoplay/>
        <div class="proctor-video-bar proctor-video-bar-bottom" style="@("display:" + (_showToolBar ? "flex" : "none"))">
            <Space>
                <SpaceItem>
                    <Tooltip Title="@("Toggle camera/desktop")">
                        <RadioGroup Size="small" @bind-Value="_showingDesktop" ButtonStyle="solid">
                            <Radio RadioButton Value="@false" CheckedChanged="_ => ToggleDesktopCamera()">
                                <Icon Type="video-camera" Theme="outline"/>
                            </Radio>
                            <Radio RadioButton Value="@true" CheckedChanged="_ => ToggleDesktopCamera()">
                                <Icon Type="desktop" Theme="outline"/>
                            </Radio>
                        </RadioGroup>
                    </Tooltip>
                </SpaceItem>
                <SpaceItem>
                    @if (_fullscreen)
                    {
                        <Tooltip Title="@("Exit fullscreen")">
                            <Button Type="primary" Size="small" OnClick="ToggleFullscreen">
                                <Icon Type="fullscreen-exit" Theme="outline"/>
                            </Button>
                        </Tooltip>
                    }
                    else
                    {
                        <Tooltip Title="@("Show in fullscreen")">
                            <Button Type="default" Size="small" OnClick="ToggleFullscreen">
                                <Icon Type="fullscreen" Theme="outline"/>
                            </Button>
                        </Tooltip>
                    }
                </SpaceItem>
                <SpaceItem>
                    <Tooltip Title="@("Messages")">
                        <Badge Dot Count="@(_haveNewMessage ? 1 : 0)">
                            <Button Type="default" Size="small" OnClick="OpenMessage">
                                <Icon Type="message" Theme="outline"/>
                            </Button>
                        </Badge>
                    </Tooltip>
                </SpaceItem>
                <SpaceItem>
                    <Tooltip Title="@("Warnings")">
                        <Badge Dot Count="@(_haveNewWarning ? 1 : 0)">
                            <Button Type="default" Size="small" OnClick="OpenWarning">
                                <Icon Type="warning" Theme="outline"/>
                            </Button>
                        </Badge>
                    </Tooltip>
                </SpaceItem>
                <SpaceItem>
                    <Tooltip Title="@("Ban the test taker")">
                        <Button Danger Type="primary" Size="small" OnClick="BanUser">
                            <Icon Type="stop" Theme="outline"/>
                        </Button>
                    </Tooltip>
                </SpaceItem>
            </Space>
        </div>
    </div>
</Col>

@{
    RenderFragment _modalFooter = @<div>
                                      <Button OnClick="CloseWarning">Close</Button>
                                  </div>;
}


<Modal Title="Warnings from test taker" Visible="_warningVisible" Closable="false" Footer="_modalFooter">
    <ChildContent>
        <AntList DataSource="_messages">
            <ChildContent Context="item">
                <ListItem>
                    <ChildContent>
                        <ListItemMeta Description="@item.Time.ToString()">
                            <TitleTemplate>
                                <b>@item.Message</b>
                            </TitleTemplate>
                            <AvatarTemplate>
                                <Icon Type="warning" Theme="outline"/>
                            </AvatarTemplate>
                        </ListItemMeta>
                    </ChildContent>
                    <Extra>
                        @if (item.Attachment != null)
                        {
                            <Image Src="@item.Attachment" Class="proctor-img-preview"/>
                        }
                    </Extra>
                </ListItem>
            </ChildContent>
        </AntList>
    </ChildContent>
</Modal>