@namespace SmartProctor.Client.Pages.Exam
@using SmartProctor.Shared.Questions
<Card Title="@("Question " + QuestionNum)">
    <ChildContent>
        <Paragraph>
            @((MarkupString) _question.Question)
        </Paragraph>
        <Divider/>
        @if (_question is ChoiceQuestion choiceQuestion)
        {
            if (choiceQuestion.MultiChoice)
            {
                <div>
                    @for (var i = 0; i < choiceQuestion.Choices.Count; i++)
                    {
                        var index = i;
                        <CheckBox Value="@_choiceChecked[index]">@((MarkupString) choiceQuestion.Choices[index])</CheckBox>
                        <br/>
                    }
                </div>
            }
            else
            {
                <RadioGroup @bind-Value="@_choiceSingle">
                    @for (var i = 0; i < choiceQuestion.Choices.Count; i++)
                    {
                        var index = i;
                        <Radio Value="index">@((MarkupString) choiceQuestion.Choices[index])</Radio>
                        <br/>
                    }
                </RadioGroup>
            }
            
        }
        else if (_question is ShortAnswerQuestion shortAnswerQuestion)
        {
            if (shortAnswerQuestion.RichText)
            {
                <HtmlEditor @ref="@_answerRichTextEditor" PlaceHolder="Answer here"/>
            }
            else
            {
                <TextArea Placeholder="Answer here" @bind-Value="_answerString"/>
            }
            <Button Type="primary" OnClick="OnSubmitAnswer">Save</Button>
        }
        </ChildContent>
</Card>
