@page "/Exam/Exam/{examId}"
@using SmartProctor.Client.Services
@inject NavigationManager NavManager
@inject HttpClient Http
@inject ModalService Modal
@inject IJSRuntime JsRuntime
@inject IExamServices ExamServices

<Header Class="header">
    @if (_examDetails != null)
    {
        <div class="logo">@_examDetails.Name</div>
    }
    <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" Style="text-align:right">
        <Popover Placement="@PlacementType.BottomRight" Title="Camera Capture" OnVisibleChange="OnCameraVideoVisibleChange">
            <ContentTemplate>
                <video id="local-camera" autoplay class="proctor-video"></video>
            </ContentTemplate>
            <ChildContent>
                <Icon Type="video-camera" Theme="outline" Style="font-size: 20px; width: 30px;"/>
            </ChildContent>
        </Popover>

        <Popover Placement="@PlacementType.BottomRight" Title="Screen Capture" OnVisibleChange="OnDesktopVideoVisibleChange">
            <ContentTemplate>
                <video id="local-desktop" autoplay class="proctor-video"></video>
            </ContentTemplate>
            <ChildContent>
                <Icon Type="desktop" Theme="outline" Style="font-size: 20px; width: 30px;"/>
            </ChildContent>
        </Popover>
    </Menu>
</Header>
<Content Style="padding: 0 50px">
    <Breadcrumb Style=" margin: 16px 0">

    </Breadcrumb>
    <Layout Class="site-layout-background" Style="padding: 24px 0; height: 100%;">

        <Sider Class="site-layout-background" Width="200" Style="margin-bottom: 50px;">
            @if (_examDetails != null)
            {
                <CountDown Title="Time remaining" Format="hh:mm:ss" Value="_examDetails.StartTime.AddSeconds(_examDetails.Duration)" OnFinish="OnFinish" Style="margin-left: 40px"/>
            }
            <Menu Mode="MenuMode.Inline"
                  DefaultSelectedKeys=@(new[] {"1"})
                  Style="height: 100%; overflow: auto">
                <MenuItem Key="1">// TODO:</MenuItem>
                <MenuItem Key="2">Display</MenuItem>
                <MenuItem Key="3">Question</MenuItem>
                <MenuItem Key="4">Numbers</MenuItem>
                <MenuItem Key="5">Here</MenuItem>
            </Menu>
        </Sider>
        <Content Style="padding:0 24px; min-height: 280px; overflow: auto; margin-bottom: 30px">
            // TODO: Display exam questions
        </Content>
    </Layout>
</Content>
<TestPrepareModal @ref="_testPrepareModal" ExamId="@ExamId"
                   OnShareScreen="OnShareScreen" OnFinish="OnPrepareFinish"
                   Visible="@_inPrepare">
</TestPrepareModal>