@page "/Exam/Proctor/{examId}"
@inject NavigationManager NavManager
@inject HttpClient Http
@inject ModalService Modal
@inject IJSRuntime JsRuntime
@inject IExamServices ExamServices

<Header Class="header">
    @if (examDetails != null)
    {
        <div class="logo">@examDetails.Name</div>
    }
    <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" Style="text-align:right">
    </Menu>
</Header>

<Content Style="padding: 0 50px">
    <Breadcrumb Style=" margin: 16px 0">
    </Breadcrumb>
    <Layout Class="site-layout-background" Style="padding: 24px 0; height: 100%;">
        <Content Style="padding:0 24px; min-height: 280px; overflow: auto; margin-bottom: 30px">
            @if (_testTakers != null)
            {
                <AntList Grid="gutter" DataSource="@_testTakers">
                    <ListItem >
                        <TestTakerVideoCard TestTakerName="@context" 
                                            OnToggleCamera="() => OnToggleCamera(context)"
                                            OnToggleDesktop="() => OnToggleDesktop(context)"
                                            OnEnlarge="() => OnEnlarge(context)"></TestTakerVideoCard>
                    </ListItem>
                </AntList>
            }
        </Content>
    </Layout>
</Content>

<Modal Visible="@enlarged" OnCancel="CancelEnlarged" OnOk="CancelEnlarged" Title="@enlargedTestTakerName" Style="width: 700px;">
    @if (loading)
    {
        <div>Loading proctor page, please wait...</div>
    }
    else
    {
        <video id="video-enlarged" class="proctor-video-large" autoplay></video>
        <br/>
        <Button OnClick="ToggleEnlarged">Toggle&nbsp;@(enlargedDesktop ? "camera" : "desktop")</Button>
    }
</Modal>